@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('~assets/fonts/roboto-v20-latin-400.woff2') format('woff2'),
  url('~assets/fonts/roboto-v20-latin-400.woff') format('woff');
}
